.main-heading {
  background: #e4c435;
}

.main-heading h1 {
  position: relative;
  padding: 200px;
  font-size: 120px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px var(--primary), 20px 20px #000000;
}
.aboutus-sec1a{
    background-color:  #e4c435 ;
}
.maujkaradibete {
  background-color: transparent;
  align-content: center;
}

.ekaurdiv h1 {
  padding-top: 50px;
}

.services {
  padding-top: 32px;
  padding-bottom: 16px;
}

.services img {
  height: 100px;
  width: 100px;
  transition: all 0.2s ease;
}

.services img:hover {
  transform: scale(1.2);
}

.services h4 {
  font-weight: 500;
  font-size: 32px;
  padding-top: 48px;
  color: black;
}

.services p {
  margin-top: 13px !important;
  color: black;
}

.service-row {
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}

.team-section {
    padding-top: 100px;
  }
  
  .team-cards-aks {
    padding-top: 80px;
  }
  
  .container-team .post {
    width: 350px;
    height: 500px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    border: 1px solid #111;
  }
  
  .container-team .post:hover .header_post {
    margin-top: -20px;
  }
  
  .container-team .post:hover .body_post {
    height: 45%;
  }
  
  .container-team .post:hover img {
    transform: translatey(-10px) translatex(-5px) scale(1.05);
  }
  
  .container-team .post .header_post {
    width: 100%;
    height: 60%;
    background: #ddd;
    position: absolute;
    top: 0;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  }
  
  .container-team .post .header_post img {
    max-width: 100%;
    height: auto;
    transition: ease-in-out 600ms;
  }
  
  .container-team .post .body_post {
    width: 100%;
    height: 0%;
    background: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
    cursor: pointer;
  }
  
  .container-team .post .body_post .post_content {
    width: 80%;
    height: 40%;
    background: #fff;
    position: relative;
  }
  
  .container-team .post .body_post .post_content h1 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .container-team .post .body_post .post_content p {
    font-size: 14px;
    font-weight: normal;
  }

  .sec-one-content p {
    margin-left: 0 !important;
  }
  
  
  
  @keyframes top {
    0% {
      opacity: 0;
      bottom: -80px;
    }
  
    100% {
      opacity: 1;
      bottom: 0px;
    }
  }
  
  @keyframes icon {
    0% {
      opacity: 0;
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.3) rotate(-2deg);
    }
  
    100% {
      opacity: 1;
      bottom: 0px;
    }
  }
  
.image-sec img{
  height: 300px;
  width :400px;
  
}
.abs-col4 img{
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  transition: all 1s ease;
}
.abs-col3 img{
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  transition: all 1s ease;
}
.abs-col2{
  text-align: left;
  line-height: 30px;
  font-weight: 500;
  padding: 60px 0;
}

.abs-col1{
  text-align: right;
  line-height: 30px;
  font-weight: 500;
  padding: 60px 0;
}

.abs-col3 img:hover{
  transform:translateX(40px);
}
.abs-col4 img:hover{
  transform:translateX(-40px);
}
.teams-row.row{
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 40px;
}

.carditeam{
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width : 1380px) {
  .teams-row {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

@media(max-width:500px){
  .teams-row.row{
    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
