.header-main-main{
    margin-bottom: 107px !important;
}
.header-main{
    margin-bottom: 107px; 
    /* background-color: aqua; */
}
.header-main1{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 99;
}

/*Scroll event styling*/
.header-main-exit{
    margin-bottom: 107px !important;
    background-color: rgb(129, 104, 56);
}

/*Header 1st row*/
.header-main2{
    height: 46px;
    background-color: rgb(253, 250, 86);
    transition: all 0.4s ease;
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
}
.header-main2-exit{
    height: 0 !important;
    pointer-events: none;
    opacity: 0;
}
.header-main2 h6{
    line-height: 46px;
    font-size: 14px;
}
.header-main2 h6 span{
    background-color: red;
    color: white;
    padding: 6px 8px;
    border-radius: 5px;
}


.header-main21{
    line-height: 46px;
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: auto;
}
.header-main22{
    color: black;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-family: 'Poppins', sans-serif;
}
.header-main23{
    color: black;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-family: 'Poppins', sans-serif;
}


/*Header 2nd row*/
.header-main3{
    height: 61px;
    background-color: white;
    transition: all 0.5s ease;
}
.header-main3-exit{
    background-color: rgb(238, 235, 235);
}
.header-main31{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: auto;
    /* background-color:red; */
}
.header-main32{
    height: 61px;
    text-align: center;
    width: fit-content;
}
.header-main32 img{
    height: 61px;
}
.header-main32 h3{
 line-height: 61px;
 font-weight: bold;
}
.logo-serach-head{
    display: flex;
}
.logo-serach-head1{
    margin-right: auto;
}

.dub-header-main{
    height: 61px;
}
.header-main32-input{
    margin-left: 50px;
}
.header-main32-input input{
    width: 350px;
    height: 47px;
    margin-top: 7.5px;
    border-radius: 25px;
    padding-left: 15px;
    border: 1.5px solid gray !important;
    outline: none !important;
}
.header-main-input-cross{
    margin-left: -32px;
    font-size: 19px;
    font-weight: bold !important;
}









.header-main33{
    margin-top: 5px;
    width: fit-content;
    margin-left: auto;

}

.header-main33 ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px ;
    margin: 0px;
}
.header-main33 a{
    color: black;
}
.header-main33 ul li{
    margin: 0 10px;
    font-size: 14.5px;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
}

.header-main34{
    margin-top: 4px;
}
.header-main34 ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px ;
    margin: 0px;
}
.header-main34 ul li{
    margin: 0 10px;
    font-size: 15.5px;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
}
.header-main3-exit ul li{
    color: black !important;
}
.header-main33 ul li:hover{

    /* color: rgb(253, 250, 86) !important; */

    font-family: 'Poppins', sans-serif;
}
.deconone:hover{
    text-decoration: none !important;
}



@media screen and (max-width: 990px){
    .header-main31{
        width: 95%;
    }
    .header-main21{
        width: 95%;
    }
}

@media screen and (max-width: 840px){
    .header-main31{
        width: 100%;
    }
    .header-main32{
        margin-left: 30px;
    }
    .header-main33{
        position: fixed;
        width: 300px !important;
        height: 100% !important;
        flex-direction: column !important;
        align-items: start !important;
        justify-content: start !important;
        /* padding-top: 60px !important; */
        transform: translateX(-300px);
        transition: all 0.4s ease-out;
        padding-left: 0px !important;
        z-index: 1000;
        line-height: 75px;
        background-color: black !important;
    }
    .header-main33 ul{
        display: unset;
        position: relative;
        top: 15%;
    }
    .header-main3-exit ul li{
        color: white !important;
    }
    .header-main33 ul li{
        margin: 0 25px;
        font-size: 21px;
        font-weight: normal;
        border-bottom: 1.8px solid rgb(129, 129, 129);
    }
    .header-main33.open{
        transform: translateX(0px);
    }
    .hamburger{
        z-index: 100;
        height: 40px;
        width:fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 24px;
        right: 18px !important;
        cursor: pointer;
        position: absolute;
        padding: 2px 8px 0 0;
        /* border: 1px solid rgb(133, 131, 131); */
        box-shadow: 0 0 5px rgb(235, 232, 232);
    }
    .hamburger div{
        background-color: rgb(122, 122, 122) !important;
        margin: 6px 0 0 8px;
        width: 30px;
        height: 4px;
    }
}
.hamburger-exit{
    top: 22px !important;
}   

@media screen and (max-width: 550px){
    .header-main21{
        display: flex;
        text-align: center !important;
        flex-direction: column-reverse;
    }
    .header-main22{
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
    }
    .header-main32{
        margin-left: 23px;
    }
}



.quick-inq{

    background-color: rgb(253, 250, 86);

    position: fixed;
    top: 43%;
    width: 40px;
    height: 155px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.8s ease !important;
    z-index: 90;
}
.quick-inq1{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 6px;
    font-weight: bold;
}
.quick-inq2{

    background-color:rgb(253, 250, 86);

    width: 300px;
    height: 450px;
    position: fixed;
    top: 19.2%;
    transform: translateX(-310px);
    transition: all 0.8s ease;
    border-radius: 0 5px 5px 0;
    /* box-shadow: 3px 6px 10px rgb(212, 212, 212); */
    z-index: 100;
}
.open-quick{
    transform: translateX(0px) !important;
}
.open-quick1{
    transform:  translate(300px, -30px) !important;
}
.form-mainss{
    width: 85%;
    margin: auto;
}
.form-mainss1{
    position: absolute;
    width: 85%;
    top: 48%;
    transform: translateY(-50%);
}
.form-mainss1 input,.nobb-form ,.nobbs-form{
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid black !important;
    border-radius: 0 !important;
    padding-left: 38px !important;
}
.form-mainss1 input::placeholder , .nobb-form::placeholder{
    color: black !important;
    font-size: 15px;
}
.icone-form{
    position: absolute;
    font-size: 22px;
    margin-top: 8px !important;
    margin-left: 5px;
}
.form-mainss button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 95.3%;
    height: 40px;
    padding: 0 40px;
    border: none;
    background-color: black;
    color: white;
    transition: all 0.4s ease;
}
.form-mainss button:hover{
    background-color: rgb(214, 212, 212);
    color: black;
}