.cat-main {
  width: 100%;
  font-family: "agency fb";
  overflow: hidden;
}

.nav {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  flex: 0 0 50%;
  background: #ffeb00;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 2;
}

.logo span {
  font-size: 45px;
  line-height: 1;
}

.menu-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-top: 50px;
}

.menu-links ul {
  width: 100%;
}

.menu-links ul li {
  padding: 10px;
  color: #494949;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-links ul li:hover {
  background: #494949;
  color: #fff;
}

.scrolldown {
  flex: 1;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
}

.scrolldown::before {
  display: inline-block;
  content: "";
  border-top: 1px solid #000;
  width: 65px;
  margin: 0 10px 0 0;
  transform: translateY(10px);
}

.text {
  position: absolute;
  top: 25%;
  right: 180px;
  transform: translateY(-50%);
  text-align: right;
  color: #494949;
}

.text .title {
  font-size: 150px;
  padding-top: 80px;
}

.watchnow {
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  background: #ffeb00;
  padding: 30px 180px 30px 30px;
}

.watchnow a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.fa-circle {
  color: #222;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.ellipse-container {
  width: 608px;
  height: 608px;
  position: absolute;
  top: 60%;
  background: url("../Assets/mountains.png") no-repeat;
  background-position: 50%;
  background-size: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin: 0 auto;
  z-index: -1;
}

.ellipse {
  position: absolute;
  top: 0;
  border-radius: 50%;
  border-style: solid;
}

.ellipse.thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: #494949;
  opacity: 0.5;
}

.ellipse.thick {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: #fff;
  transform: rotate(-45deg);
  top: 12px;
  left: 12px;
}

.ellipse.yellow {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: #ffeb00 transparent;
  transform: rotate(-45deg);
  top: 12px;
  left: 12px;
  animation: ellipseRotate 15s ease-in-out infinite;
}

@keyframes ellipseRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

.circle1,
.circle2 {
  border-style: solid;
  width: 64px;
  height: 64px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
}

.circle1 {
  top: 150px;
  left: 150px;
}

.circle2 {
  bottom: 150px;
  right: 130px;
}

.circle1::before,
.circle1::after,
.circle2::before,
.circle2::after {
  content: "";
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle1::before,
.circle2::before {
  width: 12px;
  height: 12px;
  background: #fff;
  z-index: 1;
}

.circle1::after,
.circle2::after {
  width: 40px;
  height: 40px;
  background: #ffeb00;
}

.circle1 span,
.circle2 span {
  position: absolute;
  top: 25px;
  width: 100px;
  font-size: 14px;
}

.circle1 span {
  left: 75px;
}

.circle2 span {
  left: -90px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #ffeb00;
  top: 0%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  font-size: 100px;
  letter-spacing: 10px;
}

.overlay span {
  font-size: 30px;
  letter-spacing: 1px;
}

.section-one {
  height: 100vh;
  text-align: left;
  background: white;
  color: #222;
  position: relative;
}

.section-one img {
  width: 50%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  right: 0;
  top: 0;
  z-index: -5;
}

.sec-one-content {
  padding: 9em 5em;
  z-index: 1;
  position: relative;
}

.sec-one-content h2{
font-size: 4em;
margin-bottom: 0;
}

.sec-one-content p{
  font-size: 1.2em;
  margin-left: 40px;
}

.ellipse-container-2 {
  width: 408px;
  height: 408px;
  position: absolute;
  top: 50%;
  background: url("https://images.unsplash.com/photo-1516685304081-de7947d419d5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80") no-repeat;
  background-position: 50%;
  background-size: 100%;
  left: 75%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin: 0 auto;
  z-index: -1;
}

.ellipse2 {
  position: absolute;
  top: 0;
  border-radius: 50%;
  border-style: solid;
}

.ellipse2.thin2 {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: #494949;
  opacity: 0.5;
}

.ellipse2.thick2 {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: #fff;
  transform: rotate(-45deg);
  top: 12px;
  left: 12px;
}

.ellipse2.yellow2 {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: yellow transparent;
  transform: rotate(-45deg);
  top: 12px;
  left: 12px;
}


@media screen and (max-width:1225px) {
  .logo{
    display:none !important;
  }

  .logo h1{
    display: none !important;
  }

  .logo span{
    display: none !important;
  }

  .menu-links{
    display : none !important;
  }

  .menu-links ul{
    display: none !important;
  }

  .menu-links ul li{
    display: none !important;
  }

  .scrolldown{
    display: none !important;
  }

  .scrolldown::before{
    display: none !important;
  }

  .watchnow{
    display: none !important;
  }

  .watchnow a{
    display: none !important;
  }

  .fa-circle{
    display: none !important;
  }

}

@media screen and (max-width:850px) {
  .ellipse-container {
    width: 508px !important;
    height: 508px !important;
    position: absolute;
    top: 80% !important;
    background: url("../Assets/mountains.png") no-repeat;
    background-position: 50%;
    background-size: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: 0 auto;
    z-index: -1;
  }

  .text {
    position: absolute;
    top: 25%;
    right: 50px;
    transform: translateY(-50%);
    text-align: right;
  }

  .text .title {
    font-size: 130px !important;
    padding-top: 230px !important;
  }
}

@media screen and (max-width:975px) {
  .ellipse-container-2 {
    width: 308px !important;
    height: 308px !important;
    position: absolute;
    top: 50%;
    background: url("https://images.unsplash.com/photo-1516685304081-de7947d419d5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80") no-repeat;
    background-position: 50%;
    background-size: 100%;
    left: 75%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: 0 auto;
    z-index: -1;
  }

}

@media screen and (max-width:780px) {
  .ellipse-container-2 {
    width: 308px !important;
    height: 308px !important;
    position: absolute;
    top: 50%;
    background: url("https://images.unsplash.com/photo-1516685304081-de7947d419d5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80") no-repeat;
    background-position: 50%;
    background-size: 100%;
    left: 75%;
    transform: translate(-85%, 0%) !important;
    border-radius: 50%;
    margin: 0 auto;
    z-index: -1;
  }

  .aboutus-sec1a{
    padding-top: 200px !important;
  }

}

@media screen and (max-width:576px) {


  .logo{
    display:none !important;
  }

  .logo h1{
    display: none !important;
  }

  .logo span{
    display: none !important;
  }

  .menu-links{
    display : none !important;
  }

  .menu-links ul{
    display: none !important;
  }

  .menu-links ul li{
    display: none !important;
  }

  .scrolldown{
    display: none !important;
  }

  .scrolldown::before{
    display: none !important;
  }

  .watchnow{
    display: none !important;
  }

  .watchnow a{
    display: none !important;
  }

  .fa-circle{
    display: none !important;
  }

  .ellipse-container {
    width: 408px !important;
    height: 408px !important;
    position: absolute;
    top: 80% !important;
    background: url("../Assets/mountains.png") no-repeat;
    background-position: 50%;
    background-size: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: 0 auto;
    z-index: -1;
  }

  .text {
    position: absolute;
    top: 25%;
    right: 50px !important;
    transform: translateY(-50%);
    text-align: right;
  }

  .text .title {
    font-size: 90px !important;
    padding-top: 200px !important;
  }

  .circle1,
.circle2{
  display: none !important;
}

.section-one {
  height: auto !important;
  text-align: left;
  background: white;
  color: #222;
  position: relative;
}

.sec-one-content p{
  font-size: 1em !important;
  margin: 10px !important;
  color: #222 !important;
  font-weight: 500 !important;
}

.sec-one-content h2{
  font-size: 3.5em !important;
  margin-bottom: 80px !important;
  }

  .ellipse-container-2 {
    width: 308px !important;
    height: 308px !important;
    position: absolute;
    top: 100% !important;
    background: url("https://images.unsplash.com/photo-1516685304081-de7947d419d5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80") no-repeat;
    background-position: 50%;
    background-size: 100%;
    left: 25% !important;
    transform: translate(-35%, 10%) !important;
    border-radius: 50%;
    margin: 0 auto;
    z-index: -1;
  }

  .aboutus-sec1a{
    padding-top: 300px;
  }

}
